@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600);
    h1, h2, h3, h4, h5, h6, p, a, div {
    font-family: 'Montserrat', sans-serif!important;
}
body {
    background-color: #fff;
}
nav {
    box-shadow: none!important;
}
.bold {
    font-weight: 700;
}
.slider {
    padding: 60px 0 0 0;
}
#storeSlider .carousel-inner, #storeSlider .carousel-caption {
    max-height: 60vh;
}
.carousel-text{
    padding: 20px;
}
.card {
    border: 1px solid #dbdbdb;
}
.card, .card-img, .card-body {
    border-radius: 0;
    box-shadow: none!important;
}
.card-img {
    min-height: 190px;
    padding: 10px;
    max-height: 190px;
}
footer.index-footer, .sub-footer {
    background-color: #f2f2f2;
    color: #585858;
}
footer.index-footer hr {
    background-color: #f2f2f2;
}
footer.index-footer a, footer.index-footer a:hover {
    color: #585858;
}
#btn-subscribe {
    background-color: #dcdcdc!important;
    color: #585858;
    box-shadow: none;
}
.btn.btn-primary.focus, .btn.btn-primary:focus, .btn.btn-primary:hover {
    background-color: #dcdcdc!important;
    color: #222;
    box-shadow: none;
}
.btn.active.focus, .btn.active:focus, .btn.active:hover, .btn.btn-default.active.focus, .btn.btn-default.active:focus, .btn.btn-default.active:hover, .btn.btn-default:active.focus, .btn.btn-default:active:focus, .btn.btn-default:active:hover, .btn:active.focus, .btn:active:focus, .btn:active:hover, .open>.btn.btn-default.dropdown-toggle.focus, .open>.btn.btn-default.dropdown-toggle:focus, .open>.btn.btn-default.dropdown-toggle:hover, .open>.btn.dropdown-toggle.focus, .open>.btn.dropdown-toggle:focus, .open>.btn.dropdown-toggle:hover, .show>.btn.btn-default.dropdown-toggle.focus, .show>.btn.btn-default.dropdown-toggle:focus, .show>.btn.btn-default.dropdown-toggle:hover, .show>.btn.dropdown-toggle.focus, .show>.btn.dropdown-toggle:focus, .show>.btn.dropdown-toggle:hover, .btn.active, .btn.btn-default.active, .btn.btn-default:active, .btn:active, .open>.btn.btn-default.dropdown-toggle, .open>.btn.dropdown-toggle, .show>.btn.btn-default.dropdown-toggle, .show>.btn.dropdown-toggle, .btn.btn-default.focus, .btn.btn-default:focus, .btn.btn-default:hover, .btn.focus, .btn:focus, .btn:hover {
    background-color: #fff;
}
.sub-footer {
    border-top: 0!important;
    background-color: #f2f2f2!important;
    color: #585858;
}
.blogs-container {
    margin-top: 40px;
}
.product-wrapper {
    padding-top: 40px;
}
.border-primary {
    border-color: #dcdcdc!important;
    border-radius: 0!important;
}
.btn.btn-just-icon {
    height: 36px;
}
.item-gallery img {
    height: 100px;
}
.sp-container, .sp-container-hits {
    border: 1px solid #dcdcdc;
    border-radius: 0;
}
.card .card-title {
    overflow: hidden;
    min-height: 20px;
    max-height: 47px;
}
.card-img>img {
    max-width: 180px;
    max-height: 180px;
}
.product-content {
    height: 176px;
}
.more-div {
    float: right;
}
.pagination>.page-item>.page-link, .pagination>.page-item>span {
    border-radius: 0px!important;
}
.contact-wrapper {
    padding-top: 30px;
}
.btn.btn-primary.active.focus, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .btn.btn-primary:active.focus, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .open>.btn.btn-primary.dropdown-toggle.focus, .open>.btn.btn-primary.dropdown-toggle:focus, .open>.btn.btn-primary.dropdown-toggle:hover, .show>.btn.btn-primary.dropdown-toggle.focus, .show>.btn.btn-primary.dropdown-toggle:focus, .show>.btn.btn-primary.dropdown-toggle:hover {
    color: #222!important;
}
@media (max-width:1440px) {
    .card-img {
    min-height: 105px;
    max-height: 105px;
}
.card .card-title {
    max-height: 30px;
    min-height: 30px;
}
}@media (max-width:1376px) {
    .category-card .card-img {
    min-height: auto;
}
}@media (max-width:991px) {
    .nav-second {
    display: none;
}
.search-nav {
    margin-right: -10px!important;
}
.btn-just-icon {
    margin-left: 0px!important;
    margin-top: 5px!important;
}
.card-img {
    max-height: 220px;
}
.footer-categories {
    padding-left: 0;
}
}
@media(max-width:928px) {
    .carousel-text h1{
        font-size: 2.2rem;
    }

    .carousel-text p {
        font-size: 13px;
    }
}
@media(max-width:768px) {
    .card-img {
    max-height: 250px;
}
.more {
    padding: 0;
    text-align: center;
}
.more>.pull-right {
    float: unset!important;
}

.carousel-text p {
    display: none;
}

}@media(max-width:767px) {
    .border-primary>.card-header>img {
    width: auto;
    height: auto;
    max-width: 100%}
}@media (max-width:575px) {
    .sp-container, .sp-container-hits {
    left: 0!important;
}
.carousel-text h1 {
    font-size: 1.5rem;
}
}@media (max-width:425px) {
    .btn{
        padding:6px 18px;
        font-size:.7rem
    }
    .slider {
        padding: 0;
    }
    .custom-container{
        width: 100%;
    }
    .btn-product {
    width: 100%}
.product-details {
    text-align: center;
}
.product-content {
    height: auto;
}
.item-gallery img {
    height: 50px;
}
.carousel .carousel-indicators {
    display: none;
}
}