@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

h1, h2, h3, h4, h5, h6, a, p, div{
    font-family: 'Poppins', sans-serif !important;
}

body{
    background-color: #fff;
    color: #51545f;
}

.bold{
    font-weight: bold;
}

.navbar.bg-primary{
    background-color: #fff !important;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #51545f;
}

.nav-store-name,
.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover{
    color: #51545f;
}

.nav-pills{
    justify-content: center;
    margin-bottom: 20px;
}

.nav-pills .nav-item .nav-link {
    background-color: transparent;
    border-radius: 2px;
    background: transparent;
    color: #222;
    font-size: 16px;
    text-transform: capitalize;
    border-left: 1px solid #eee;
}

.nav-pills .nav-item .nav-link.active {
    background-color: transparent;
    color: #fe4c50;
    box-shadow: none;
    text-decoration: underline;
}

.nav-pills .nav-item .nav-link:hover {
    background-color: transparent;
}

.sidebar .nav .nav-item .nav-link:hover {
    background-color: hsl(48, 53%, 65%);
}

.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover, .navbar.bg-primary .dropdown-item:focus, .navbar.bg-primary .dropdown-item:hover {
    background-color: #c7b56f !important;
    box-shadow: none;
}

.dropdown-menu, .dropdown-item, .dropdown-item:hover{
    border-radius: none;
}

.sidebar .logo, .sidebar{
    background-color: #fff;
}

.logo-normal{
    color: #222 !important;
    letter-spacing:  0.2rem;
}

.sidebar .sidebar-wrapper{
    background-color: #fff;
}

.sidebar .nav li{
    overflow: hidden;
}

.sidebar .nav li .dropdown-menu a, .sidebar .nav li a{
    color: #51545f;
}

.category-wrapper{
    padding: 20px 0 60px 0;
}

.product-wrapper{
    padding: 0px 0 60px 0;
}


.product-wrapper-main{
    padding: 100px 0 60px 0;
}

.slick-slide{
    margin: 0 10px;
}

.blog-slider .card{
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 0;
}

.btn-collapse{
    float: right;
}

.card{
    box-shadow: none;
}

.border-primary{
    min-height: auto !important;
}

.product-content {
    height: 154px;
}

.card-img {
    padding: 10px;
    min-height: 250px;
}

.card-img > img{
    max-width: 230px;
    max-height: 230px;
}

.card-title, .card-title a, .footer-big h4, .footer-big h4 a, .footer-big h5, .footer-big h5 a, .footer-brand, .footer-brand a, .info-title, .info-title a, .media .media-heading, .media .media-heading a, .title, .title a{
    color: #51545f;
}

.card-header > .store{
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c7b56f;
    color: #fff;
    padding: 0px 10px;
    margin: 0;
    height: 26px;
}

.item-gallery img{
    min-height: 70px;
    max-height: 70px;
}

.card-header > .store .text-muted{
    color: #fff !important;
}

#accordion > .card{
    margin: 0;
}

#accordion .card .card-header{
    padding-left: 1px;
}

#accordion .card-header > h4{
    background-color: #c7b56f;
}

.description{
    max-height: 200px;
    overflow: auto;
}

.btn.btn-default.btn-link, .btn.btn-link{
    color: #fff !important;
}

.slider-categories .card .card-body{
    min-height: 140px;
    max-height: 140px;
    overflow: hidden;
}

h3.section-title {
    position: relative;
    z-index: 1;
    margin: 60px 0;
}

h3.section-title:before {
    border-top: 1px solid #222;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */

    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */

    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

h3.section-title span {
/* to hide the lines from behind the text, you have to set the background color the same as the container */
background: #fff;
border: 1px solid #222;
padding: 6px 30px;
}
  

.category-body{
    margin-top: -140px;
    bottom: 10px;
}

.slider-categories .card{
    background: transparent;
    box-shadow: none;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #222 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blogs-container, .latest-product{
    padding: 40px 0;
}

.information{
    margin-bottom: 40px;
}

.information-container{
    padding: 40px 0;
}

#storeSlider .carousel-inner, #storeSlider .carousel-caption {
    max-height: 65vh;
}

.carousel-text {
    background: transparent;
    text-align: left;
    width: 80%;
}

.carousel-text h1, .carousel-text p{
    color: #fff;
}

.carousel-btn{
    width: 100%;
    position: absolute;
}

.carousel-btn > .btn.btn-primary{
    background-color: #51545f;
    box-shadow: none;
    max-width: 30%;
    overflow: hidden;
    border-radius: 0 !important;
}

.c-hr{
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid #fe4c50;
    width: 60px;
    text-align: center;
}

.search-nav{
    height: 41px !important;
}

#store-search, #store-search:focus {
    border: 1px solid #ddd;
    background: #ffffff;
    color: #51545f;
}

#store-search::placeholder,
.email-subscribe::placeholder{
    color: #adadad;
}

.btn-just-icon, .btn-just-icon:hover, .btn-just-icon:focus{
    box-shadow: none;
    border: 1px solid #ddd;
    border-left: none;
}

.email-subscribe, .email-subscribe:focus,
.search-nav, .search-nav:focus {
    border: 1px solid #fff;
    background: #fff;
    color: #51545f;
}

.email-subscribe, .email-subscribe:focus{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn{
    border-radius: 0 !important;
    font-size: 0.8rem !important;
}

.btn.btn-primary{
    color: #fff;
    background-color: #fe4c50 !important;
    border-color: #fe4c50 !important;
    box-shadow: none;
}

.btn.btn-primary.focus, .btn.btn-primary:focus, .btn.btn-primary:hover {
    background-color: #fe7c7f !important;
    border-color: #fe7c7f !important;
    transition: background-color 0.5s ease;
    box-shadow: none;
    color: #fff;
}

.btn.active.focus, .btn.active:focus, .btn.active:hover, .btn.btn-default.active.focus, .btn.btn-default.active:focus, .btn.btn-default.active:hover, .btn.btn-default:active.focus, .btn.btn-default:active:focus, .btn.btn-default:active:hover, .btn:active.focus, .btn:active:focus, .btn:active:hover, .open>.btn.btn-default.dropdown-toggle.focus, .open>.btn.btn-default.dropdown-toggle:focus, .open>.btn.btn-default.dropdown-toggle:hover, .open>.btn.dropdown-toggle.focus, .open>.btn.dropdown-toggle:focus, .open>.btn.dropdown-toggle:hover, .show>.btn.btn-default.dropdown-toggle.focus, .show>.btn.btn-default.dropdown-toggle:focus, .show>.btn.btn-default.dropdown-toggle:hover, .show>.btn.dropdown-toggle.focus, .show>.btn.dropdown-toggle:focus, .show>.btn.dropdown-toggle:hover, .btn.active, .btn.btn-default.active, .btn.btn-default:active, .btn:active, .open>.btn.btn-default.dropdown-toggle, .open>.btn.dropdown-toggle, .show>.btn.btn-default.dropdown-toggle, .show>.btn.dropdown-toggle, .btn.btn-default.focus, .btn.btn-default:focus, .btn.btn-default:hover, .btn.focus, .btn:focus, .btn:hover {
    background-color: #fe7c7f;
    color: #fff;
}

.categories-title{
    background-color: transparent;
    color: #51545f;
}

.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus, .pagination>.page-item.active>a:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover{
    background-color: #fff;
    border-color: #fff;
}

#btn-subscribe{
    background-color: #fe4c50 !important;
    color: #fff;
    box-shadow: none;
    padding: 5px;
    margin: 0;
    font-size: 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#btn-subscribe:hover, #btn-subscribe:focus, #btn-subscribe:active{
    background-color: #fe7c7f;
}

footer.newsletter{
    background: #eee;
    color: #51545f;
    font-size: 13px;
    padding: 20px 0;
}

.newsletter .col-lg-6, .newsletter .col-md-12 {
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.newsletter form, .newsletter .div{
    width: 100%;
}

footer.index-footer{
    color: #51545f;
    background: #fff;
    font-size: 13px;
}

.footer ul li a{
    color: #51545f;
}

footer.index-footer a, footer.index-footer a:hover{
    color: #51545f;
}

.footer-categories, .footer-links{
    padding-left: 0;
    list-style: none;
}

footer h6{
    font-size: 15px;
}

footer.index-footer hr{
    background-color: #eee;
}

.sub-footer {
    background-color: #fff;
    color: #51545f;
}

.custom-reviews > .card-body{
    max-height: 500px;
    overflow: auto;
}

.customer-service, .stay-connected{
    display: inline;
}

.navbar.bg-primary .navbar-toggler .navbar-toggler-icon{
    background-color: #222 !important;
}


.nav-pills .nav-item .nav-link{
    background-color: transparent;
    border-radius: 2px;
    color: #222;
    font-size: 16px;
    text-transform: capitalize;
}

.nav-pills{
    padding: 0;
}

.text-success{
    color: #fe4c50;
}

@media(max-width: 1024px){
    .carousel-text {
        width: 100%;
    }

    .w-50{
        width: 100% !important;
    }
}

@media (max-width: 991px){
    .search-nav{
        margin-right: -10px !important;
    }

    .btn-just-icon{
        border: 1px solid #ddd;
        margin-top: 5px !important;

    }

    .card-img{
        min-height: auto;
    }
}

@media (max-width: 767px){
    #btn-subscribe {
        margin-left: 0;
        margin-top: 10px;
        padding: 10px;
    }

    .slick-slider {
        width: 90%;
        margin: 0 auto;
    }    

    .carousel-text{
        margin-top: -85px;
    }
}

@media (max-width: 625px){
    .carousel-text p{
        display: none;
    }
}

@media (max-width: 575px){
    .sp-container, .sp-container-hits{
        left: 0 !important;
    }
}

@media(max-width: 480px){
    .card-img{
        max-height: 100%;
    }

    .carousel .carousel-indicators{
        display: none;
    }

    .product-content {
        height: auto;
    }
}

@media(max-width: 479px){
    .category-body{
        margin-top: 0%;
    }
}

@media(max-width: 425px){
    .card-header > .store {
        padding: 4px 10px;
    }
}


@media(max-width: 371px){
    h3.section-title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h3.section-title span {
        border: none;
        padding: 6px 10px;
    }

    h3.section-title:before {
        border: none;
    }
    
}