@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

*{
    box-shadow: none !important;
}

.montserrat{
    font-family: 'Montserrat', sans-serif !important;
}

.card-img{
    padding: 10px;
}

.category-card, .blog-card{
    margin-right: 10px;
}

.bold{
    font-weight: bold;
}

.c-hr{
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #3c4858;
    width: 80px;
    text-align: center;
}

#store-search, #store-search:focus{
    height: 41px;
    background-color: #2e323338;
}

.btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover{

    box-shadow: none;
}

.btn-white{
    margin-left: -32px;
    box-shadow: none;
    z-index: 4;
}

footer .input-group-append > button{
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 9px;
}

footer.index-footer hr{
    margin-top: -0.8rem;
    width: 50px;
    background-color: #1f3d6b;
}

footer.index-footer p{
    font-size: 14px;
}

.footer-categories > li{
    font-size: 12px;
    font-weight: bold;
}

.slick-prev:before, .slick-next:before {
    opacity: 1 !important;
    color: #001f4f !important;
}

.sub-footer {
    background-color: #001f4f;
    color: #6f7d92;
}

.product-description{
    max-height: 300px;
}

@media(max-width: 991px){
    .border-primary{
        min-height: auto !important;
    }

    .product-content{
        height: auto;
    }

    #store-search, #store-search:focus{
        margin-right: -30px;
    }
    
    .custom-container{
        width: 95%;
    }

    .flex{
        width: auto;
    }

    .footer-categories{
        padding-left: 0;
    }
}

@media (max-width: 575px){
    .sp-container, .sp-container-hits{
        left: 0 !important;
    }
}

@media (max-width: 480px){
    .card-img {
        max-height: 100%;
    }
}